<h1>Cadastro de Eventos</h1>
<ng-template #content let-modal>
  <form name="eventoForm" (ngSubmit)="f.form.valid && OnSubmit(f)" #f="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Cadastro de Eventos</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="DataEvento">Data do Evento</label>
          <input type="text" class="form-control" name="DataEvento" [(ngModel)]="evento.DataEvento" #DataEvento="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && DataEvento?.invalid }"
            pattern="^([0]{1}[1-9]{1}|[12]{1}[0-9]{1}|[3]{1}[01]{1})([\/]{0,1}([0]{1}[0-9]{1}|[1]{1}[012]{1})){0,1}([\/]{0,1}([0-9]{4})){0,1}([\s]{0,1}([0]{1}[0-9]{1}|[1]{1}[0-9]{1}|[2]{1}[0123]{1})([:]{0,1})([0]{1}[0-9]{1}|[1234]{1}[0-9]{1}|[5]{1}[0123456789]{1})([:]{0,1})([0]{1}[0-9]{1}|[1234]{1}[0-9]{1}|[5]{1}[0123456789]{1}){0,1}){0,1}$"
            placeholder="__/__/____ __:__:__" mask="00/00/0000 00:00:00"
            [showMaskTyped]="true" required />
          <div *ngIf="f.submitted && DataEvento?.invalid" class="invalid-feedback">
            <div *ngIf="DataEvento?.errors?.required">Campo obrigatório.</div>
            <div *ngIf="DataEvento?.errors?.pattern">A data informada não é válida.</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label data-error="Campo obrigatório.">Quantidade de Pessoas</label>
          <input #QuantidadeDePessoas="ngModel" [ngClass]="{ 'is-invalid': f.submitted && QuantidadeDePessoas.invalid }"
            type="number" class="form-control" name="QuantidadeDePessoas" [(ngModel)]="evento.QuantidadeDePessoas"
            required />
          <div *ngIf="f.submitted && QuantidadeDePessoas.invalid" class="invalid-feedback">
            <div *ngIf="QuantidadeDePessoas?.errors?.required">Campo obrigatório.</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label data-error="Campo obrigatório.">Responsável</label>
        <input #Responsavel="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Responsavel.invalid }" type="text"
          class="form-control" name="Responsavel" [(ngModel)]="evento.Responsavel" required />
        <div *ngIf="f.submitted && Responsavel.invalid" class="invalid-feedback">
          <div *ngIf="Responsavel?.errors?.required">Campo obrigatório.</div>
        </div>
      </div>
      <div class="form-group">
        <label data-error="Campo obrigatório.">Descrição</label>
        <textarea #Descricao="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Descricao.invalid }" class="form-control"
          name="Descricao" [(ngModel)]="evento.Descricao" rows="3" required></textarea>
        <div *ngIf="f.submitted && Descricao.invalid" class="invalid-feedback">
          <div *ngIf="Descricao?.errors?.required">Campo obrigatório.</div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('cancelar')">Cancelar</button>
      <button type="submit" class="btn btn-outline-primary">Salvar</button>
    </div>
  </form>
</ng-template>
<ng-template #modalConfirm let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitleContent}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <span>{{modalBodyContent}}</span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('nao')">Não</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('sim')">Sim</button>
  </div>
</ng-template>
<app-tabela-responsiva [listaDeEventos]="listaDeEventos"  (buscarEventos)="buscarEventos($event)"  (addEvento)="newModal(content, f)" (editEvento)="editModal($event, content, f)"
  (deleteEvento)="deleteModal($event)"></app-tabela-responsiva>
<ngx-toasta [position]="'top-center'"></ngx-toasta>
