﻿<div class="jumbotron">
    <h1>Cadastro de Eventos  - (Angular + C# Web API)</h1>
    <p>Instruções para execução:</p>
    <ul>
        <li>O banco de dados está incorporado ao projeto dentro da pasta APP_Data\dbLocal.mdf</li>
        <li>Primeiro iniciar a depuração do projeto no Visual Studio, <code>Build->Clean Solution</code>, <code>Build->Rebuild Solution</code> e <code>F5</code> para iniciar a depuração</li>
        <li>Certifique que a porta que está rodando o IIS Express é a mesma informada na varíavel <br/>
        <code>rootUrl = 'http://localhost:57831';</code>, que está dentro do arquivo [workspace]\angularEventos\src\app\evento\evento.service.ts</li>
        <li>Abrir o pasta do projeto angular evento no Visual Code, depois no terminal executar <code>npm install</code>, depois <code>ng serve</code>.</li>
        <li>Depois clique no link abaixo (se não foi alterada a porta padrão do angular 4200)...</li>
        <li>
            Se a porta do angular não for a 4200, será necessário atualizar o CORS do visual Studio em [workspace]\eventos\eventos\App_Start\WebApiConfig.cs, para o novo endereço/porta em
            <br/><code>config.EnableCors(new EnableCorsAttribute("http://localhost:4200", headers: "*", methods: "*"));</code>
        </li>
    </ul>
    <p><a href="http://localhost:4200" class="btn btn-primary btn-lg">Abrir aplicação angular &raquo;</a></p>
</div>