/* You can add global styles to this file, and also import other style files */
input.ng-invalid.ng-dirty{
  border-left: 5px solid #a94442; /* red */
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
