<div class="card card-default">
  <div class="card-header">
    <div class="row">
      <div class="col-10 col-sm-10 col-md-5 col-lg-5 col-xl-5 col-1-ordem">
        <h5>Eventos Cadastrados ({{this.listaDeEventos == null && this.listaDeEventos == undefined ? 0 :
          this.listaDeEventos.length}})</h5>
      </div>
      <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-2-ordem">
        <div class="input-group">
          <input type="text" class="form-control" #campoBusca name="campoBusca" aria-label="Busca..." (keypress)="this.buscaComEnter($event)">
          <div class="input-group-append">
            <button [hidden]="this.textoBuscar !== ''" type="button" class="btn btn-outline-secondary" (click)="this.callSearchEventos()"><i class="fa fa-search"></i></button>
            <button [hidden]="this.textoBuscar == ''" type="button" class="btn btn-outline-secondary" (click)="this.callLimparBusca()"><i class="fa fa-close" style="color:red;"></i></button>
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Buscar por coluna</span>
            </button>
            <div class="dropdown-menu">
              <span class="dropdown-item">Buscar pela coluna:</span>
              <div role="separator" class="dropdown-divider"></div>
              <a class="dropdown-item" [ngClass]="{ 'selecionado':  -1 == this.colunaBuscar }" href="#" (click)="this.tipoBusca(-1)">Todas</a>
              <div role="separator" class="dropdown-divider"></div>
              <a *ngFor="let item of this.listaDeColunasBuscar; let i = index" class="dropdown-item" [ngClass]="{ 'selecionado': i == this.colunaBuscar }" href="#" (click)="tipoBusca(i)">{{item}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-3-ordem">
        <button class="btn btn-outline-primary float-right" (click)="this.callAddEvento()" style="margin-bottom: 8px;">Novo</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row titulosCamposTopo">
      <div class="col-md-1">
        <label>ID</label>
      </div>
      <div class="col-md-2">
        <label>Data Cadastro</label>
      </div>
      <div class="col-md-2">
        <label>Data Evento</label>
      </div>
      <div class="col-md-1">
        <label>Qtde. Pessoas</label>
      </div>
      <div class="col-md-3">
        <label>Responsável</label>
      </div>
      <div class="col-md-3">
        <label>Descrição</label>
      </div>
    </div>
    <div *ngFor="let evento of this.listaDeEventos;" class="row row-striped titulosCamposLinhas">
      <div class="col-md-1">
        <label>ID</label>
        <span>{{evento.ID}}</span>
        <a class="btdelete" href="#" (click)="this.callDeleteEvento(evento)">
          <i class="fa fa-trash-o"></i>
        </a>
        <a class="btedit" href="#" (click)="this.callEditEvento(evento)">
          <i class="fa fa-edit"></i>
        </a>
      </div>
      <div class="col-md-2">
        <label>Data Cadasdtro</label>
        <span>{{evento.DataCadastro | date:'dd/MM/yyyy\nHH:mm:ss'}}</span>
      </div>
      <div class="col-md-2">
        <label>Data Evento</label>
        <span>{{evento.DataEvento | date:'dd/MM/yyyy\nHH:mm:ss'}}</span>
      </div>
      <div class="col-md-1">
        <label>Qtde. Pessoas</label>
        <span>{{evento.QuantidadeDePessoas}}</span>
      </div>
      <div class="col-md-3">
        <label>Responsável</label>
        <span>{{evento.Responsavel}}</span>
      </div>
      <div class="col-md-3">
        <label>Descrição</label>
        <span>{{evento.Descricao}}</span>
      </div>
    </div>
  </div>
</div>
