@media (max-width: 767px) {
  .titulosCamposTopo  {
    display:none;
  }

  .titulosCamposLinhas div>label {
    font-size: 10pt;
    color: rgb(41, 152, 255);
    display:block !important;
    margin-bottom: -4px;
    margin-top: 8px;
  }

  .titulosCamposLinhas span {
    display: block;
  }

  .titulosCamposLinhas{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 4px;
    margin-bottom: 20px;
    margin-top: -14px;
  }

  .titulosCamposLinhas:hover{
    border: 1px solid rgb(41, 152, 255);
  }

  .btdelete {
    margin-top: -47px;
    float: right;
  }

  .btedit {
    margin-top: -45px;
    margin-right: 40px;
    float: right;
  }

  .btdelete i {
    font-size: 32px;
  }

  .btedit i {
    font-size: 32px;
  }

  .col-1-ordem{
    order: 1;
  }

  .col-2-ordem{
    order: 3;
  }

  .col-3-ordem{
    order: 2;
  }

}


@media (min-width: 768px) {
  .titulosCamposTopo label {
    color: rgb(41, 152, 255);
    font-size: 10pt;
  }

  .titulosCamposTopo span{
    display: block;
  }

  .titulosCamposTopo div{
    border: 1px solid gray !important;
    border-collapse: collapse;
    background-color: #e3eff5;
  }

  .titulosCamposLinhas div>label {
    display:none !important;
  }

  .titulosCamposLinhas div{
    border: 1px solid gray !important;
    border-collapse: collapse;
  }

  .titulosCamposLinhas div:hover{
    border: 1px solid rgb(41, 152, 255);
    border-collapse: collapse;
  }

  .btdelete::before {
    content: ' ';
    clear: right;
    display: block;
  }

  .btedit::before {
    content: ' ';
    clear: right;
    display: block;
  }

  .btdelete i {
    font-size: 24px;
  }

  .btedit i {
    font-size: 24px;
  }

  .col-1-ordem{
    order: 1;
  }

  .col-2-ordem{
    order: 2;
  }

  .col-3-ordem{
    order: 3;
  }
}

.row-striped:nth-of-type(odd){
  background-color: #e3eff5;
  /*padding-top: 20px;*/
}

.row-striped:nth-of-type(even){
  background-color: #ffffff;
  /*padding-top: 20px;*/
}

.selecionado{
  color: white !important;
  background-color: #007bff !important;
}

